@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family:'Android';
    src: url('') format('opentype');
    font-weight: normal;



}


body{
    background-color: var(--cor1);
    font-family: var(--font-padrao)
}



:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ab;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Helvetica, sans-serif;
    --Fonte-destaque:'Bebas Neue', sans-serif;
    --Fonte-android:'Android' cursive;

   


}
 

header > h1{
    color: var(--cor3);
    font-family: var(--Fonte-destaque);

}

main h1 {
    font-family: var(--Fonte-android);

}
main h2{
    font-family: var(--Fonte-android);
}